body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
}

.home {
  position: absolute;
  background: #161817;
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
}
.h1-text{
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('./imagenes/f1.JPEG');
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  background-blend-mode: multiply; /* Mezcla el color con la imagen */
  background-size:contain;
  background-position: center;
}
.image-gallery {
  display: flex;
  flex-direction:row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  background:#161817 ;
  margin-top: 20px;
}

.image-gallery img:hover {
  transform: scale(1.05);
}
.im1{
  background-image: url('./imagenes/f2.JPEG');
}
.im2{
  background-image: url('./imagenes/f3.JPEG');
}.im3{
  background-image: url('./imagenes/retouch_1739321788704.JPEG');
}.im4{
  background-image: url('./imagenes/retouch_1739321825184.JPEG');
}.im5{
  background-image: url('./imagenes/retouch_1739321863398.JPEG');
}.im6{
  background-image: url('./imagenes/retouch_1739321904652.JPEG');
}.im7{
  background-image: url('./imagenes/retouch_1739321935253.JPEG');
}.im8{
  background-image: url('./imagenes/retouch_1739321963066.JPEG');
}.im9{
  background-image: url('./imagenes/retouch_1739321992464.JPEG');
}.im10{
  background-image: url('./imagenes/retouch_1739322117155.JPEG');
}.im11{
  background-image: url('./imagenes/retouch_1739322181521.JPEG');
}.im12{
  background-image: url('./imagenes/retouch_1739322277828.JPEG');
}.im13{
  background-image: url('./imagenes/retouch_1739322294918.JPEG');
}
.tall{
  width: 150px;
  height: 200px;
  background-position: center;
  background-size: contain;
  filter: blur(5px);
  transition: 0.5s;

}
.tall:hover{
  width: 150px;
  height: 200px;
  background-position: center;
  background-size: contain;
  filter: blur(0px);

}


